<!doctype html>

<html lang="en">
	<head>
  		<meta charset="utf-8">

  		<title><%= title %></title>
  
	</head>
	<body>
	<div id="content">
  		<%= subtitle %>
  		<%= text %>
  		<br>
  		by <%= author %>
  	</div>
	</body>
</html>